@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
body{
    background-color: lavender;
    text-align: center;
    font-family: 'Scheherazade New', serif;
}
div{
    background-color: lawngreen;
    border: 3px solid darkgreen;
    border-radius: 25px ;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}
label{
    font-weight: bolder;
    color: navy;
}
a{
    color: orangered;
}
p{
    color: royalblue;
    font-size: 20px;
}
h1{
    font-size: 40px;
    color: rgb(85, 85, 221);
}